server:
  port: 8200

spring:
  application:
    name: customer-service

  datasource:
    url: jdbc:mysql://localhost:3306/customer_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: Chandru@9626  # change if needed
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
