server:
  port: 8200

spring:
  application:
    name: booking-service

  datasource:
    url: jdbc:mysql://localhost:3306/bookingdb
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
